* {
    margin: 0;
    padding: 0;
  }


header {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    background-color: white;
    color:#4682b4;
    padding: 14px 40px;
    font-family: 'Dancing Script',cursive;
  }
  .header-left {
    display: flex;
    align-items: center;
  }
  .header-left span {
    color: #4682b4;
    margin-left: 22px;
    margin-top: 22px;
    font-size: 50px;
  }
  .header-right ul {
    color: white;
    font-size: 20px;
    display: flex;
    /* margin-right: 20px; */
  }
  
  .header-right li {
    margin-left: 20px;
  }
  li {
    list-style: none;
  }
  .header-right span:last-child {
    margin-right: 0;
  }

  .swiper-container {
    margin: 30px;
    width: 800px;
    height: 300px;
  }

  .swiper-container-beach {
    margin: 30px;
    width: 500px;
    height: 300px;
  }
  
/* ここから紹介欄 */

  .programming {
    width: 100%;
    margin: 0 auto;
  }
  .programming h2,
  .english h2
  {
    font-size: 40px;
    text-align: center;
    color: grey;
    padding-top: 40px;
    font-family:'Dancing Script', cursive;;
  }
  .contents {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin: 20px auto;
  }
  .description {
    width: 50%;
    line-height: 1.5;
  }
  .contents img {
    height: 150px;
    margin: 0 20px;
  }