* {
    margin: 0;
    padding: 0;
  }


header {
    display: flex;
    justify-content: space-between; 
    align-items: center;  
    background-color: white;
    color:#4682b4;
    padding: 14px 40px;
    font-family: 'Dancing Script',cursive;
  }
  .header-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-left span {
    color: #4682b4;
    margin-left: 22px;
    margin-top: 22px;
    font-size: 50px;
  }

/* ここからハンバーガーメニュー */
.box{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
 /*ハンバーガー３本線*/
 .btn{
  display: block;
  position: relative;
  top: 15px;
  width: 50px;
  height: 50px;  /*高さと幅を変えて押せる範囲を広げる*/
  cursor: pointer; /*手のポインターが出てくる*/
  }
  .hamburger{
    display: none;
  }

.icon, .icon:before, .icon:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;  /*top~marginまで0にして、三本線を真ん中にしてあげる*/
  height: 2px;
  width: 35px;
  background-color:rgb(252, 146, 8);
  display: block;
  content: '';
  transition: all 1s; /*ゆっくりバツになる*/
}
/*３本線の間隔*/
.icon:before {
  top:-25px;
}
.icon:after {
  top: 25px;
}
/*アイコンクリックしたら*/
.hamburger:checked ~ .btn .icon {
  background: transparent;
}
.hamburger:checked ~ .btn .icon:before {
  transform: rotate(-45deg);
  top: 0;
}
.hamburger:checked ~ .btn .icon:after {
  transform: rotate(45deg);
  top: 0;
}
.hamburger:checked ~ .nav {
  display: flex;
} 
/* ここまでハンバーガー */

  .header-right ul {
    color: white;
    font-size: 20px;
    display: flex;
    /* margin-right: 20px; */
  }
  
  .header-right li {
    margin-left: 20px;
  }
  li {
    list-style: none;
  }
  .header-right span:last-child {
    margin-right: 0;
  }

  .main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }

  .swiper-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

  }

  .swiper-slide {
    width: 100vw;
    height: 300px;
  }

  .swiper-container {
    margin: 30px;
  }

  .swiper-container ,.top-img {
    width: 100vw;
    height: 500px;
  }

  .beach-box {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

.swiper-wrapper,.beach {
  width: 500px;
  height: 300px;
}
  
/* ここから紹介欄 */

.phrase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

  .programming {
    width: 100%;
    margin: 0 auto;
  }
  .programming h2,
  .english h2
  {
    font-size: 40px;
    text-align: center;
    color: grey;
    padding-top: 40px;
    font-family:'Dancing Script', cursive;;
  }
  .contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin: 20px auto;
  }
  .description {
    width: 50%;
    line-height: 1.5;
  }
  .contents img {
    width: 500px;
    height: 300px;
  }

  .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  footer {
    width: 100vw;
    height: 120px;
    margin-top: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:#4682b4;
    font-family: 'Dancing Script',cursive;
  }

  .ToTop {
    /* position: fixed; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(255, 192, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

